@import url('https://rsms.me/inter/inter-ui.css');
::selection {
    background: #2D2F36;
}
::-webkit-selection {
    background: #2D2F36;
}
::-moz-selection {
    background: #2D2F36;
}
.back {
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 20px;
}
.page {
    background: rgba(226, 226, 229, 0.7);
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 80px);
}
@media (max-width: 767px) {
    .page {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}
.container {
    display: flex;
    height: 320px;
    margin: 0 auto;
    width: 640px;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        height: 630px;
        width: 320px;
    }
}
.left {
    background: white;
    height: calc(100% - 40px);
    top: 20px;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .left {
        height: 100%;
        left: 20px;
        width: calc(100% - 40px);
        max-height: 270px;
    }
}
.login {
    font-size: 50px;
    font-weight: 900;
    margin: 50px 40px 40px;
}
.eula {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    margin: 40px;
    margin-bottom: 0;
}
.signup {
    display: inline-block;
    color: #218eff;
    text-decoration-line: underline;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 25px;
    margin-left: 40px;
    cursor: pointer;
}
.right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 50%;
}
@media (max-width: 767px) {
    .right {
        flex-shrink: 0;
        height: 100%;
        width: 100%;
        max-height: 350px;
    }
}

.form {
    margin: 40px;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
label {
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}
input {
    background: transparent;
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    min-width: initial;
    outline: none !important;
    width: 100%;
}

input[type='username'], input[type='password'] {
    border-bottom: 2px solid;
}

.submit {
    text-align: center;
}

input[type='submit'] {
    margin-top: 1.5rem;
    border: 2px solid;
    height: 2.5rem;
    width: 120px;
    border-radius: 2rem;
    cursor: pointer;
}

input::-moz-focus-inner {
    border: 0;
}
#submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
}
#submit:focus {
    color: #f2f2f2;
}
#submit:active {
    color: #d0d0d2;
}
