.root {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 800px;
    margin: 7rem auto;
    z-index: 2;
    border-radius: 4px;
}

.hidden{
    display: none;
}

.no-top {
    top: initial;
}

.no-bottom {
    bottom: initial;
}

.fill-width {
    max-width: initial;
    width: 100vw;
    margin: 0;
}

/*---- super code ----*/

.content {
    max-width: 800px;
    margin: 0 auto;
}

.content > h1 {
    color: #fffef9;
    background-color: #35333c;
    vertical-align: center;
    padding: 0.5rem 1rem;
}

.content h2 {
    color: #fffef9;
    padding: 1rem 3rem 0 3rem;
}

.content > div {
    width: 98%;
    padding: 1%;
    background-color: #47484c;
}

.backgroundBlack {
    background-color: #47484c;
}

.autofill {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}

.flex.vertical {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.space-evenly {
    justify-content: space-evenly;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.end {
    justify-content: flex-end;
}

.flex-autofill {
    flex: 1;
}

.white {
    color: #fffef9;
}

.data {
    padding: 2rem;
}

.data .transform {
    margin: 2rem;
    width: calc(100% - 6rem);
}

.data .room {
    text-align: center;
}

.data .back {
    margin: 1.5rem auto 1rem auto;
    border: none;
    height: 2.5rem;
    width: 40%;
    border-radius: 2rem;
    background-color: #25b957;
    cursor: pointer;
}

.data .login {
    margin: 1.5rem auto 1rem auto;
    border: none;
    height: 2.5rem;
    width: 40%;
    border-radius: 2rem;
    background-color: #218eff;
    cursor: pointer;
}

.data .signup {
    margin: 1rem auto 1.5rem auto;
    border: none;
    height: 2.5rem;
    width: 40%;
    border-radius: 2rem;
    background-color: #e83536;
    cursor: pointer;
}

.comment {
    margin: 2rem 3rem;
    text-align: center;
}

textarea {
    margin: 0.5rem auto;
    min-width: 300px;
    width: 100%;
    width: -webkit-fill-available;
    height: 100px;
    border-radius: 2px;
    border: 1px solid #eee;

    font-family: "sans-serif";
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

input[id='barrageInput'] {
    /*margin: 0.5rem auto;*/
    /*min-width: 300px;*/
    /*width: 100%;*/
    /*width: -webkit-fill-available;*/
    /*border-radius: 2px;*/
    /*border: 1px solid #eee;*/

    /*font-family: "sans-serif";*/
    /*font-size: 1.2rem;*/
    /*line-height: 1.7rem;*/
    /*letter-spacing: 1px;*/
    border-bottom: 2px solid;
}

form {
    margin: 0 auto;
    width: 80%;
    padding: 1rem;
    margin-bottom: 1rem;
}

form > div:last-child {
    width: 100%;
    min-height: 3rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

ul, p {
    font-size: 1.2rem;
    margin: 0.2rem 0 0.5rem 0;
}

ul li {
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.bt-primary {
    padding: 0.5rem 1rem;
    min-width: 4rem;
    margin: 1rem 0;
    background-color: #4ca7f5;
    color: #fff;
    float: right;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
